@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
Class Utilitaire
 */

.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.gape-10{
    gap: 10px;
}

.gape-50{
    gap: 50px;
}
.flex_column{
    flex-direction: column;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FEFFFF !important;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}
main{
    min-height: 70vh;
}
.wrapper{
    margin: 5%;
}


/* Barre de navigation */

nav{
    align-items:baseline;
    font-family: "Poppins", sans-serif;
    justify-content: space-between;
    background-color: #F6F6F6;
    padding: 20px 40px;
    margin-bottom: 30px;

}
nav a{
    text-decoration: none;
    color: black;
}
nav .logo img{
    height: 30px;
    width: auto;
}
nav .logo p{
    text-transform: uppercase;
    font-weight: bold;
}

.dropdown{
    position: relative;
    display: block;
    z-index: 1;
}

.dropdown p {
    margin: 0;
    cursor: pointer;
}

/*.dropdown p::after{
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    height: 3px;
    background: black;
    transition: width 0.2s ease-in-out;
}*/
.categories{
    flex-direction: column;
}
.dropdown_content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #F6F6F6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown_content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}
.dropdown_content ul li{
    list-style-type: none;
}

.dropdown_content a:hover {
    background-color: lightgray;
}
.dropdown:hover .dropdown_content {
    display: block;
}

/* Style pour les liens au survol */

.connection{
    align-items: center;
}
.connection i{
    font-size: 30px;
}
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: white;
}
/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}
/* button click effect*/
.Btn:active {
    transform: translate(2px ,2px);
}

/* Page accueil */

header{
    margin: 0 auto;
    height: 40vw;
    width: 1500px;
}
.titre_header{
    width: 40%;
}
.titre_header img{
    width: 700px;
}
.image_header{
    width: 60%;
    height: 100%;
}
.image1{
    border-radius: 50%;
    height: 600px;
    width: 600px;
    background-image: url("../media/chaussures_header.jpeg");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 1000px;
    /*transform: rotate(-10deg) translateX(30%) translateY(35%);*/
    box-shadow: 5px 5px 10px 5px RGB(141, 29, 139,0.80);

}
.image2{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    background-image: url("../media/image2_header.png");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 250px;
    transform: rotate(10deg);
    filter: drop-shadow(15px 10px 10px RGB(141, 29, 139,0.80)) ;
    align-items: flex-start;
}
.image3{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    background-image: url("../media/image3_header.png");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 250px;
    transform: rotate(-10deg);
    top: -50px;
    right: 0;
    filter: drop-shadow(15px 10px 10px RGB(141, 29, 139,0.80));

}

.image_header img{
    width: 800px;
    border-radius: 50%;
}

.random{
    margin: 50px auto;
    flex-direction: column;

}
.random div h2{
    font-size: 20pt;
    margin: 20px;
}
.basket_random{
    width: 1400px;
    height: 700px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_baskets_ramdom{
    width: 350px;
    height: 435px;
}
.random_basket{
    text-decoration: none;
    color: black;
}
.info_basket_ramdom{
    line-height: 35px;
}
.info_basket_ramdom h5{
    font-size: 15pt;
}
.info_basket_ramdom p{
    color: #78797B;
    font-weight: 500;
}
.info_basket_ramdom .prix_ramdom{
    color: black;
    font-weight: 700;
}
.button_voir_plus {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    background-color: var(--clr);
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    padding: .75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .3s;
}

.button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: var(--clr);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.button_voir_plus:hover {
    background-color: #000;
}

.button_voir_plus:hover .button__icon-wrapper {
    color: #000;
}

.button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
}

.button_voir_plus:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
}

.button_voir_plus:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
}

.information_site{
    margin: 20px;
}
.information_texte{
    width: 100vh
}
.information_site_image img{
    width: 300px;
    border-radius: 20px;
}

/* Footer */

footer{
    background-color: #F6F6F6;
    display: grid;
    grid-template-columns: repeat(3,500px);
    text-align: left;
    justify-items: center;
    padding: 30px;
    width: 100%;
}

footer div{
    height: 100%;
    width: 100%;
    text-align: center;
}
footer h5{
    font-size: 20px;
    margin: 10px;
}
footer .information_footer ul li{
    list-style-type: none;
    text-transform: capitalize;
}
footer .reseau_sociaux p a{
    font-size: 30px;
    color: black;
}
.btn-12,
.btn-12 *,
.btn-12 :after,
.btn-12 :before,
.btn-12:after,
.btn-12:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-12 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    text-transform: uppercase;
}
.btn-12 span a{
    text-decoration: none;
    color: white;
}

.btn-12:disabled {
    cursor: default;
}

.btn-12:-moz-focusring {
    outline: auto;
}

.btn-12 svg {
    display: block;
    vertical-align: middle;
}

.btn-12 [hidden] {
    display: none;
}

.btn-12 {
    border-radius: 99rem;
    border-width: 2px;
    overflow: hidden;
    padding: 0.8rem 3rem;
    position: relative;
}

.btn-12 span {
    mix-blend-mode: difference;
}

.btn-12:after,
.btn-12:before {
    background: linear-gradient(
            90deg,
            #fff 25%,
            transparent 0,
            transparent 50%,
            #fff 0,
            #fff 75%,
            transparent 0
    );
    content: "";
    inset: 0;
    position: absolute;
    transform: translateY(var(--progress, 100%));
    transition: transform 0.2s ease;
}

.btn-12:after {
    --progress: -100%;
    background: linear-gradient(
            90deg,
            transparent 0,
            transparent 25%,
            #fff 0,
            #fff 50%,
            transparent 0,
            transparent 75%,
            #fff 0
    );
    z-index: -1;
}

.btn-12:hover:after,
.btn-12:hover:before {
    --progress: 0;
}


/* Page de toutes les baskets */
.nombre_basket{
    margin-left: 30px;
}
.block{
    width: auto;
    margin-top: 20px;
}
aside{
    height: 1000px;
    width: 260px;
    padding-left: 30px;
}
.categorie_basket{
    margin-top: 20px;
    flex-direction: column;
    font-size: 15pt;
    font-family: "Roboto", sans-serif;
}
.categorie_basket a{
    text-decoration: none;
    color: black;
}
.article_basket{
    display: grid;
    grid-template-columns: repeat(3,51.81vh);
    gap: 1vh;
}
.block_image_baskets{
    width: 100%;
    height: 51.81vh;
    overflow: hidden;
}
.image_baskets{
    width: 100%;
    height: auto;
}
.basket{
    text-decoration: none;
    color: black;
}
.info_basket{
    line-height: 35px;
}
.info_basket h5{
    font-size: 15pt;
}
.info_basket p{
    color: #78797B;
    font-weight: 500;
}
.info_basket .prix{
    color: black;
    font-weight: 700;
}

.none{
    display: none !important;
}
.all_couleurs{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 20px;
    height: 0;
}
#couleurs h4{
    cursor: pointer;
}
#tailles h4{
    cursor: pointer;
}
.all_tailles{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,50px);
    gap: 20px;
    height: 0;
}
.couleur{
    width: fit-content;
    text-transform: capitalize;
    gap: 5px;
    flex-direction: column;
}
.couleur-nom{
    font-size: 13px;
}

.taille{
    height: 36px;
    width: 60px;
    text-align: center;
    border: solid 1px #E5E5E5;
    border-radius: 5px;
    margin-right: 6px;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 18px;
}

.likeImage{
    position: relative;
}
.like{
    top: 0;
    position: absolute;
    right: 0px;
    height: fit-content;
    width: fit-content;
    padding: 10px;
}
.like form {
    margin: 0;
    padding: 0;
}

.like form button {
    margin: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    border: none;
    width: fit-content;
    height: fit-content;
}

.like form button i{
    color: #DC143C;
    font-size: 35pt;
    position: relative;
}
.like form button strong{
    position: absolute;
    font-size: 15pt;
    top: 23px;
}
.bi.bi-heart,
.bi.bi-heart-fill {
    transition: all 0.3s ease-in-out;
}
/* Page Basket seul */

.article_seul{
    margin: 0 auto;
    gap: 50px;
    width: 1200px;
}
.block_image{
    margin-bottom: 200px;
}
.grande_image{
    position: relative;
    height: 600px;
    width: 600px;
}
.image_container{
    position: absolute;
}
.image_vignette{
    flex-direction: column;
    gap: 20px;
}
.image_seul{
    width: 600px;
    height: auto;
    border-radius: 10px;
}
.petite_image{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.rond_color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    filter: brightness(85%);
}

.all_tailles_seul{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,120px);
    gap: 20px;
}
.taille_seul{
    height: 45px;
    width: 120px;
    text-align: center;
    border: solid 1px #E5E5E5;
    border-radius: 5px;
    margin-right: 6px;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 18px;
}

.grande2, .grande3, .grande4{
    display: none;
}

.details {
    flex-direction: column;
    height: 100%;
}
.titre_basket{
    gap: 15px;
    margin-bottom: 20px;
}
.titre_basket h2{
    font-size: 30px;
}

.CartBtn {
    width: 140px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
}

.IconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
}

.icon {
    border-radius: 1px;
}

.text_card {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17, 17, 17);
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
}

.CartBtn:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
}

.CartBtn:hover .text_card {
    transform: translate(10px,0px);
    transition-duration: .5s;
}

.CartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
}

.commentaire{
    margin-left: 20px;
}
.commentaire h3{
    font-size: 25px;
}
.commentaires{
    background-color: #F6F6F6;
    margin: 30px 10px;
    min-height: 150px;
    border-radius: 20px ;
    width: 70%;
}
.commentaire_pseudo{
    border-right: 2px solid black;
    padding: 20px;
}
.commentaire_commentaire{
    margin: 20px;
}
.commentaire_commentaire p{
    margin-top: 20px;
}

.cta {
    margin-top: 20px;
    margin-left: 30px;
    border: none;
    background: none;
    cursor: pointer;
}
.cta a{
    text-decoration: none;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Page des likes */

.deleteButton {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
}
.deleteButton svg {
    width: 44%;
}
.deleteButton:hover {
    background-color: rgb(237, 56, 56);
    overflow: visible;
}
.bin path {
    transition: all 0.2s;
}
.deleteButton:hover .bin path {
    fill: #fff;
}
.deleteButton:active {
    transform: scale(0.98);
}
.tooltip {
    --tooltip-color: rgb(41, 41, 41);
    position: absolute;
    top: -40px;
    background-color: var(--tooltip-color);
    color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 8px 12px;
    font-weight: 600;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.105);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;
}
.tooltip::before {
    position: absolute;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    content: "";
    background-color: var(--tooltip-color);
    bottom: -10%;
}
.deleteButton:hover .tooltip {
    opacity: 1;
}

/* Page panier */

.contenu_panier{
    flex-direction: column;
}
.info_basket_panier{
    margin: 0 auto;
    height: 300px;
    width: fit-content;
    overflow: hidden;
}
.info_basket_panier img{
    height: 400px;
    width: 320px;
}
.info_basket_panier .sous-titre{
    width: 300px;
}

.info_basket_panier .quantite i{
    cursor: pointer;
    font-size: 30px;
}

/* Validation */

.validation{
    font-size: 20pt;
}

.button {
    height: 50px;
    width: fit-content;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #252525;
    overflow: hidden;
    border-radius: 30px;
    color: #333;
    transition: all 0.5s ease-in-out;
}

.btn-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
}

.type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #333;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
}

.button:hover {
    box-shadow: 1px 1px 200px #252525;
    color: #fff;
    border: none;
}

.type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
}

