{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contenu de mon panier</h1>

    {% if baskets is not empty %}
        <ul>
            {% for basket in baskets %}
                <li>{{ basket.nom }} - {{ basket.prix }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Le panier est vide</p>
    {% endif %}
{% endblock %}