{% extends 'base.html.twig' %}

{% block body %}

    <section class="flex flex_column justify-center align-center validation">
        <h2>Merci d'avoir valider votre panier</h2>
    </section>


{% endblock %}